body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.button {

  border: 0;
  color: #515f69;
  padding: 25px;


}


.button-hover {

  cursor: pointer;
  color: #ffffff;
  background-color: #8697A6;

}


.invalid {
  border: 2px solid red;
}

img {
  height: 100px;
}